{% extends 'services/base.html' %}
{% load my_tags %}
{% block content %}

    <section>
        <img src="https://pro.campus.sanofi/.imaging/mte/portal/3840/dam/Portal/Spain/articulos/e-health/mejores-apps-para-medicos-gratuitas/apps-medicina-hero.jpg/jcr:content/apps-medicina-hero.jpg"
             class="img-fluid" alt="...">
    </section>
    <p>
    <div class="subsection_header"><h1>Миссия - сохраняем здоровье и продлеваем жизнь</h1> <h3>Ценности</h3></div>
    <p>
    <div class="about_mission_worth_content">
        <div class="about_mission_worth_item" id="bx_3485106786_19418738">
            <div class="worth_picture-wrapper">
                <img src="https://avatars.mds.yandex.net/i?id=c54f8223b738c387ed4bcccf16b4161f2fe3f0a2ceb3029d-10414034-images-thumbs&n=13"
                     class="rounded float-start" alt="..." style="width:70px;>
            </div>
            <div class="worth_text"></div>
                <div class="worth_text_bold"><h3>Клиентоориентированность</h3></div>
                <div class="worth_text_normal">Пациент - главный человек в нашей клиник.
                </div>
            </div>
        </div>
        <p>
        <div class="about_mission_worth_item" id="bx_3485106786_19418736">
            <div class="worth_picture-wrapper">
                <img src="https://avatars.mds.yandex.net/i?id=7ed5677eb043285fcfd90086a4e9c0d6b9fb3432-8340947-images-thumbs&n=13"
                     class="rounded float-start" alt="..." style="width:70px;>
            </div>
            <div class="worth_text">
                <div class="worth_text_bold"><h3>Самосовершенствование</h3></div>
                <div class="worth_text_normal">Каждый сотрудник нашего центра постоянно повышает свою квалификацию,
                    проходит обучение на мастер-классах, участвует в выставках и симпозиумах.
                </div>
            </div>
        </div>
        <p>
        <div class="about_mission_worth_item" id="bx_3485106786_19418745">
            <div class="worth_picture-wrapper">
                <img src="https://avatars.mds.yandex.net/i?id=fb431de4e65bb88d976550f4d1cacb9c_l-4009035-images-thumbs&n=13"
                     class="rounded float-start" alt="..." style="width:70px;>
            </div>
            <div class="worth_text">
                <div class="worth_text_bold"><h3>Профессионализм</h3></div>
                <div class="worth_text_normal">Каждый врач нашей клиники прекрасно владеет своей профессией и хорошо знает свое дело.
                </div>
            </div>
        </div>
        <p>
        <div class="about_mission_worth_item" id="bx_3485106786_19418743">
            <div class="worth_picture-wrapper">
               <img src="https://banner2.cleanpng.com/20180629/fpx/kisspng-health-insurance-computer-icons-clip-art-attestation-5b36c8af111718.74550426153031697507.jpg"
                     class="rounded float-start" alt="..." style="width:70px;>
            </div>
            <div class="worth_text">
                <div class="worth_text_bold"><h3>Ответственность</h3></div>
                <div class="worth_text_normal">На каждом этапе диагностики, лечения и обслуживания клиентов
                    – каждый врач несет ответственность за результат.
                </div>
            </div>
        </div>
        <p>
        <div class="about_mission_worth_item" id="bx_3485106786_19418741">
            <div class="worth_picture-wrapper">
                <img src="https://storage01.sb.by/iblock/4a5/4a577fae5fc7f7ec1eadc57a5ee8ef82.jpg"
                     class="rounded float-start" alt="..." style="width:70px;>
            </div>
            <div class="worth_text">
                <div class="worth_text_bold"><h3>Инновации и технологии</h3></div>
                <div class="worth_text_normal">В нашем центре используются запатентованные авторские методики,
                    индивидуальные комплексные программы лечения и диагностики.
                </div>
            </div>
        </div>
        <p>
        <div class="about_mission_worth_item" id="bx_3485106786_19418739">
            <div class="worth_picture-wrapper">
                <img src="https://w7.pngwing.com/pngs/509/311/png-transparent-symbol-computer-icons-crowd-health-miscellaneous-text-logo.png"
                     class="rounded float-start" alt="..." style="width:70px;>
            </div>
            <div class="worth_text">
                <div class="worth_text_bold"><h3>Команда</h3></div>
                <div class="worth_text_normal">Сильная команда – успешное лечение!Вы в безопасности с нашей командой врачей!</div>
            </div>
        </div>
    </div>

{% endblock %}
